body {
  background: lightsalmon;
  margin: 40px;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
  font-size: 60px;
}

img {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  border: 2px solid yellow;
}
p {
  text-align: center;
}

.links {
  display: flex;
  justify-content: center;
}
.links a {
  margin: 20px;
}
